html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: .75em;
  background-color: #f5f2f0;
}

h1, h2 {
  font-family: "Denk One", sans-serif;
  color: #623b0c;
}

h1 {
  margin: 0 .2em 1.5rem;
}

h2 {
  margin-top: 0;
  padding-top: 0;
}

img {
  width: 100%;
  display: block;
}

ol {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0;
  list-style: none;
  border-radius: 8px;
}

li {
  display: flex;
  background-color: #ede3db;
  flex-direction: column;
  border: 2px solid #623b0c;
  border-radius: 8px;
  padding: 1em;
}

a {
  color: #fff;
  background-color: #623b0c;
  text-decoration: none;
  border-radius: 8px;
  padding: .6em;
  justify-content: space-between;
  margin-top: auto;
}

p {
  padding: .4rem 0;
}

ul {
  grid-column: auto;
}
